<!DOCTYPE html>
<html lang="en">
<head>

</head>
<body>
<div class="cf-crumbs">
                <a href="/">Home</a> &gt;
                
                    <a href="/home-decorations-industry-10.html">
                        Home Decorations &gt; 
                    </a>
                
                    <a href="/cat-art-ceramics-22.html">
                        Art Ceramics &gt; 
                    </a>
                
                <span class="red">961</span> Results
                </div>
<script src="js/jquery-2.1.1.js"></script>
<script src="js/main.js"></script>
<script>
    console.log($('.label-list')[1]);
</script>
</body>
</html>
